{% extends "base.html" %}

{% load static %}



{% block content %}
  
  

        <form action="result">
        <table>
        <tr>
            <td align="right"> Skin Thickness:</td>
            <td align="left"> <imput type="text" name="n4"</tr>
        </tr>

        <tr>
            <td align="right"> Skin Thickness:</td>
            <td align="left"> <imput type="text" name="n4"</tr>
        </tr>

        <tr>
            <td align="right"> Skin Thickness:</td>
            <td align="left"> <imput type="text" name="n4"</tr>
        </tr>

        <tr>
            <td align="right"> Skin Thickness:</td>
            <td align="left"> <imput type="text" name="n4"</tr>
        </tr>

        <tr>
            <td align="right"> Skin Thickness:</td>
            <td align="left"> <imput type="text" name="n4"</tr>
        </tr>
    

   


{% endblock %}

